body{
    position: center;
    margin: 0px 20vw;
    background-color: rgb(41, 41, 41)
}

.wrapper{
    display:grid;
    
    width: 60vw;
    grid-gap: 1em;
}

.box{
    border-style: solid;
    border-width: 10px;
    border-radius: 10px;
    border-image: url("../images/DialogFrameCorners.PNG") 12 repeat; 
}
#navbar {
    position: fixed;
    margin: 0px -10px;
    top: 0;
    width: 60vw;
    height: 24px;
    color: white;
    background-color: rgb(26, 26, 26);
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
.navbar li {
    float:left;
}
.navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 13px 20px;
    text-decoration: none;
}
#mainbody {
    font-size: 20px;
    color: white;
    border: none;
}

.panel{
    margin: 50px 30px;
    padding: 0px;
    height: 10vw;
    background-color: rgba(114, 114, 114, 0.1);
    
    border-style: solid;
    border-width: 10px;
    border-radius: 10px;
    border-image: url("../images/DialogFrameCorners.PNG") 12 repeat; 
}
.Headertext {
    margin: 0px 10px;
    font-size: 30px;
    font-family: morpheus;
    color: rgb(185, 185, 185);
}
p {
    margin: 24px 10px;
}

@font-face {
    font-family:"morpheus";
    src: url("MORPHEUS.woff") format("woff"),
         url("MORPHEUS.TTF") format("truetype");
}
html {
    background-color: rgb(32, 32, 32);
}