body{
    position: center;
    margin: 0px 20vw;
    background-color: rgb(41, 41, 41)
}

.wrapper{
    display:grid;
    
    width: 60vw;
    grid-gap: 1em;
}

/* .box{
    border-style: solid;
    border-width: 10px;
    border-radius: 10px; 
} */
#mainbody {
    font-size: 20px;
    color: white;
    border: none;
    background-color: rgb(37, 37, 37);
}

.panel{
    margin: 50px 30px;
    padding: 0px;
    height: auto;
    max-width: 57vw;
    background-color: rgba(56, 56, 56, 0.5);
    
    border: rgba(0,110,200,0.4) solid;
    border-width: 2px;
    border-radius: 4px;
}
#toppanel_content p{
    margin: 10px 10px;
}
.panel_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    margin: 4px;
    padding: 0px;
}
.panel_content_image{
    object-fit: contain;
    overflow: hidden;
    width: 100%;
    max-height: 260px;
}
.panel_content img {
    transition:transform 0.25s ease;
}
#panel_content_img_upscale{
    -webkit-transform:scale(2);  
    transform:scale(2);
}
#panel_content_img_normalscale{
    -webkit-transform:scale(1);  
    transform:scale(1);
}
/* .panel_content img:hover {
    -webkit-transform:scale(2);  
    transform:scale(2);
} */
.panel_content_text{
    
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: minmax(100px,200px) auto auto auto;
    margin-left: 0px;
    margin-right: 0px;
}
.panel_content_text p{
    float: left;
    overflow: hidden;
    word-wrap: break-word;
    margin: 0px;
}
.Headertext {
    margin: 4px 10px;
    font-size: 30px;
    color: rgb(185, 185, 185);
}
#eve_panel{
    /* font-family: evesans; */
    /* considering using custom fonts if i decide to make each project their own pages */
}
.linktext{
    color: cyan;
}

footer {

    position: center;
    margin: 0px 20vw;
    background-color: rgba(56, 56, 56, 0.5);
    color: aquamarine;
    
}
@font-face {
    font-family:"morpheus";
    src: url("MORPHEUS.TTF") format("truetype");
}
@font-face {
    font-family:"evesans";
    src: url("evesansneue-regular.ttf") format("truetype");
}

html {
    background-color: rgb(32, 32, 32);
}