#navbar { /* div element */
    position: fixed;
    top: 0;
    left: 0vw;
    margin: 0px -10px;
    width: 100vw;
    height: 34px;
    color: white;
    background-color: rgba(60, 60, 60, 1);
    /* border: rgba(60, 60, 60, 1) 3px solid;
    border-radius: 4px; */
}
.navbar {
    list-style-type: none;
    margin: 0px 0px 0px 20vw;
    padding: 0;
  }
.navbar li {
    float:left;
    /* background-color: rgb(40, 40, 40); */
    /* border: solid 2px rgba(0, 110, 200, 0.4);
    border-radius: 4px; */
    margin: 0px 20px 0px 0px;
    padding: 7px 6px;
}
.navbar li a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
.navbar li a:hover{
    border-bottom: solid cyan 2px;
    
    display: inline-block;
    line-height: 20px;
}