#navbar { /* div element */
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0vw;
    margin: 0px 0px;
    width: 100vw;
    height: 34px;
    color: white;
    background-color: rgba(60, 60, 60, 1);
}
.navbar {
    list-style-type: none;
    margin: 0px 0px 0px 20vw;
    padding: 0;
}
.navbar li {
    float:left;
    margin: 0px 20px 0px 0px;
    padding: 7px 6px;
}
.navbar li a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
.navbar li a:hover{
    border-bottom: solid cyan 2px;
    
    display: inline-block;
    line-height: 20px;
}

/* 
animation-duration: 0.4s;
animation-name: slidein;
@keyframes slidein {
    from {
      margin-top: -0.5%;
      height: 3.5%; 
    }
  
    to {
      margin-right: 0%;
      height: 34px;
    }
} */